
@{
    ViewData["Title"] = "About Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
links{
<link rel="stylesheet" href="~/assets/css/about.css" />

}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>About Cafena</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">about us</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- about area start -->

