@model IEnumerable<Chef>

@{
	ViewData["Title"] = "Chef Page";
}

links{
<link rel="stylesheet" href="~/assets/css/chef.css" />
}
<!-- about home start -->
<section class="about-home">
	<div class="about-header">
		<h2>Meet our Chefs</h2>
		<div>
			<ul>
				<li class="breadcrumb-begin">
					<a href="index.html">home</a>
				</li>
				<li></li>
				<li class="breadcrumb-end">
					<a href="about.html">Chefs</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- about  home end -->
<!-- chef personal section start -->

<section class="blogs" id="blogs">
	<h1 class="heading">MEET OUR PROFESSIONAL</h1>
	<div class="box-container">
		@foreach (var chef in Model)
		{
			<div class="box">
				<div class="image">
					<img src="~/assets/images/@chef.Image" alt="" />
				</div>
				<div class="content">
					<a href="#" class="title">@chef.Name</a>
					<span>@chef.ExperienceInYears YEAR EXPERIENCE</span>
					<ul>
						@foreach (var social in chef.SocialMedias)
						{
							<li>
								<a href="#">
									<i class="fa-brands fa-@social.Social"></i>
								</a>
							</li>
						}
					</ul>
				</div>
			</div>
		}
	</div>
</section>

<!--chef personal section end -->
script{
<script src="~/assets/js/chef.js"></script>
}