@{
    ViewData["Title"] = "Reservation Page";
}
Links{
<link rel="stylesheet" href="~/assets/css/reservation.css" />
}

<!-- about home start -->
<section class="about-home">
    <div class="about-header">
        <h2>Reservation</h2>
        <div>
            <ul>
                <li class="breadcrumb-begin">
                    <a href="index.html">home</a>
                </li>
                <li></li>
                <li class="breadcrumb-end">
                    <a href="menu.html">menu</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- about  home end -->
<!-- reservation section start -->
<section class="reservation__container">
    <span class="hero1">
        <img src="~/assets/image/hero-shape-2-1.png" alt="" />
    </span>
    <span class="hero2">
        <img src="~/assets/image/hero-shape-2-2.png" alt="" />
    </span>
    <div class="form_item">
        <h2>RESERVATION FORM</h2>
        <form class="form">
            <div>
                <input type="text" name="subject" placeholder="enter your name" />
                <input type="number"
                       name="personCount"
                       min="1"
                       max="6"
                       placeholder="seates*"
                       required />
                <input type="time" id="time" name="appointment_time" />
            </div>
            <div>
                <input type="tel"
                       id="phone"
                       name="enter your number"
                       placeholder="Enter Your Number"
                       required />
                <input type="date" name="birthdate" placeholder="gg.aa.yyyy" />
                <input type="email"
                       id="email"
                       name="user_email"
                       placeholder="Enter your mail"
                       required />
            </div>
        </form>
        <button>submit you request</button>
    </div>
</section>

<!-- reservation section end -->
    Script{
<script src="~/assets/js/reservation.js"></script>
    }